<html>
    <head>
        <meta charset="utf-8">
        <title>oAuth - learn</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Homepage</a></li>
            </ul>
        </nav>
        <header>
            <h4>Learn oAuth</h4>
            <h4>HomePage</h4>
        </header>
        <main>
            <p>Tutorial from NetNinja</p>
        </main>
    </body>
</html>